@import '../variables.css';

.root {
  /* positioning */
  position: relative;
  min-height: 100%;
}

.header {
  /* positioning */
  position: fixed;
  height: var(--header-height);
  top: 0;
  left: 0;
  right: 0;

  /* look */
  background-color: var(--color-dark);
  color: var(--color-dark-text);
}

.header h1 {
  /* position */
  margin: 0;
  padding: 0;

  /* look */
  font-family: var(--font-family-highlight);
  font-size: 1.8rem;
  line-height: var(--header-height);
  font-weight: 600;
}

.header h1 span {
  font-weight: 200;
}

.header a {
  /* borders */
  border-bottom-color: var(--color-primary-light);

  /* look */
  color: var(--color-primary-light);
}

.content-container {
  /* positioning */
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  left: 0;

  /* look */
  background-color: var(--color-background);

  /* behavior */
  overflow-x: scroll;;
}

.content-wrapper {
  /* positioning */
  position: absolute;;
  min-height: 100%;
  width: 100%;

  /* behavior */
  overflow-x: visible;
}

.content {
  /* positioning */
  position: relative;
  margin-bottom: calc(var(--footer-height) + var(--footer-height) * 0.5);
}

.footer {
  /* positioning */
  position: absolute;
  height: var(--footer-height);
  width: 100%;
  bottom: 0;
  left: 0;

  /* look */
  background-color: var(--color-dark);
}
